body {
  box-sizing: border-box;
  text-align: center;
  color: rgb(125, 125, 125);
}

.flex-container {
  display: flex;
  justify-content: center;
}

.number {
  width: 200px;
}

.container {
  width: 500px;
  height: 500px;
  display: grid;
  /* grid-template-columns: repeat(8, auto); */
  border: solid black 2px;
  margin-bottom: 24px;
}

/* .empty {
  border: solid black 1px;
} */

.color1 {
  background-color: rgb(200, 200, 200);
}

.color2 {
  background-color: rgb(180, 180, 180);
}
.color3 {
  background-color: rgb(160, 160, 160);
}

.color4 {
  background-color: rgb(140, 140, 140);
}
.color5 {
  background-color: rgb(120, 120, 120);
}

.color6 {
  background-color: rgb(100, 100, 100);
}
.color7 {
  background-color: rgb(80, 80, 80);
}

.color8 {
  background-color: rgb(60, 60, 60);
}
.color9 {
  background-color: rgb(40, 40, 40);
}

.color10 {
  background-color: rgb(20, 20, 20);
}

.color11 {
  background-color: rgb(0, 0, 0);
}

.modeOptions {
  margin-bottom: 24px;
}

.backgroundOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
